@use "sass:color";

$spotify: #1DB954;
$primary: #8900ff;
$secondary: #3c3c3c;

@import "../node_modules/bootstrap/scss/bootstrap";

header {
  border-bottom: 1px solid $primary;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  .logo{
    width: 100px;
    height: auto;

  }
  ul {
    justify-content: center;

  }
  nav{
    padding-bottom: 5px;
  }
  .nav-pills {
    gap: 0.5rem;

    .nav-link {
      border-radius: 999px;
      padding: 0.5rem 1rem;
      min-width: 110px;

      &:hover {
      background-color: #ffffff;
      color:$primary;
      }

      &.active {
      }
    }
  }
}
.concert-list {
  padding-top: 10px;
}

main {
  .concert-preview{
    border-left: 4px solid $primary;
  }
.btn-spotify{
  background-color: #1db954;
  border-color: #1db954;
  color: #000;

  &:hover {
    background-color: #178e3f;
    border-color: #1db954;
    color: #000;
  }
}
  .card{
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
  }

  border-left: 4px solid $primary;
  margin: 4rem 1rem 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}
.manage-photo {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.btn[aria-expanded="true"] {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

  .concert-photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
  }

.video-embed {
  max-width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}


.setlist {
  padding: 1.25rem;
  border-left: 4px solid $primary;
  border-radius: 6px;

  h4 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  ol {
    margin-bottom: 0;
    padding-left: 1.5rem;
  }

  li {
    padding: 0.35rem 0;
  }
}

.rating{
  font-size: 1.25rem;
}

.artistCardPhoto {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

//.hero {
//  width: 100vw;
//  margin-left: calc(50% - 50vw);
//  background-image: url("/img/concertCrowd.jpg");
//  background-size: cover;
//  background-position: center;
//  min-height: 500px;
//}

//Used Ai to help get the rating styling put in place
.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    font-size: 1.25rem;
  }

  label:hover,
  label:hover ~ label,
  input:checked ~ label {
    color: $primary;
  }
}

footer{
  border-top: 1px solid $primary;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}




